@font-face {
  font-family: font1;
  src: url('../font/Volkhov-Bold.ttf');
}

@font-face {
    font-family: font2;
    src: url('../font/Volkhov-BoldItalic.ttf');
}

@font-face {
    font-family: font3;
    src: url('../font/Volkhov-Italic.ttf');
}

@font-face {
    font-family: font4;
    src: url('../font/Volkhov-Regular.ttf');
}